[submodule "app"]
	path = app
	url = ../app
[submodule "app-simple"]
	path = app-simple
	url = ../app-simple
[submodule "include"]
	path = include
	url = ../include
[submodule "third"]
	path = third
	url = ../third
