[submodule "app"]
	path = app
	url = ../app
[submodule "app-simple"]
	path = app-simple
	url = ../app-simple
[submodule "third"]
	path = third
	url = ../third
[submodule "console"]
	path = console
	url = ../console
